<% @books.each do |book| %> <!-- 1 @booksを@bookに変更 -->
	<p>title</p>
	<span><%=link_to book.title, book_path(book.id) %></span>
	<p>body</p>
	<span><%=link_to book.title, book_path(book.id) %></span>
<% end %>